*{
    border: 0;
    padding: 0;
    margin: 0;
    offset: 0;
}

html {

    overflow: hidden;

}


body{
    margin: 0;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    max-height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(0, 0, 0);

}

body::-webkit-scrollbar {
    width: 0.5em;
  }
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0);
  }
   
body::-webkit-scrollbar-thumb {
  
    outline: 2px solid  rgb(0, 0, 0);
  }

table
{
    padding: 0;
    margin: 0;
    transform: translateX(150px);

}

h4{
    color: rgb(136, 133, 133);
    font-size: 14px;
    font-style: italic;
    text-shadow: rgba(0, 0, 0, 0.3);
}

h5{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    color: #0CE890;
    text-emphasis: bolder;
    font-size: 20px;
    text-shadow: 1px 1px rgb(0, 0, 0) ;
}
.navbar{
    background-color: rgba(94, 10, 133, 0.459);
    overflow: visible;
    position: absolute;
}

.nav-item{
    margin: 5px;
    width: 15em;
    height: 60px;
    border: 1px solid rgba(94, 10, 133, 0.459);
}

.nav-item a{
    line-height: 50px;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    transition: .8s;
    z-index: 110;
}

.nav-item span{
    color: transparent;
    position: relative;
}

.nav-item span::before{
    content: 'I';
    position: absolute;
    width: auto;
    height: 25px;
    color: white;
    transition: .2s ease-out;
}

.nav-item:nth-of-type(2) span::before{
    content: 'P';
    position: absolute;
    width: auto;
    height: 25px;
    color: white;
}

.nav-item:nth-of-type(3) span::before{
    content: 'S';
    position: absolute;
    width: auto;
    height: 25px;
    color: white;
}

.nav-item:nth-of-type(4) span::before{
    content: 'C';
    position: absolute;
    width: auto;
    height: 25px;
    color: white;
}


.nav-item::after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .8s;
    z-index: 100;

}

.nav-item:hover a{
    color: white;
}

.nav-item:hover:after{
    background-color: rgb(32, 76, 158);
    transform: rotate(10deg);
}

.nav-item:hover span::before{
    color: white;
    transform: translate(-65%, -10%) rotate(720deg);
    font-size: 50px;
}

.navbar a{
    display: inline-block;
    width: 10.2em;
    height: 60px;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;     
   
}

.navbar li{
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    z-index: 100;
 
}
 


.jumbotron{
    width: 80%;
    margin: 100px;
    padding: 20px 20px;
    align-content: center;
    text-align: center;
    position: relative;
    justify-content: space-evenly;
    left: 40px;
    top: 70px;
   
    
}

.display-4{
    font-family: 'Raleway', sans-serif;
    color: #cc0000;
    text-shadow: .5px .5px black;
}

.lead{
    font-family: 'Roboto Slab', serif;
}



.container{
    width: 700px;
    position: relative;
    display: flex;
    justify-content: initial;

    
}

.container .card{
    background: rgba(0, 0, 0, 0);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    border: rgba(0, 0, 0, 0);
}

.container .card .face
{
    width: 300px;
    height: 200px;
    transition: 0.5s;

}

.container .card .face.face1
{
    position: relative;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0DFFB2;
    text-shadow: 1px 1px black;
    transform: translateY(0px);
}



.container .card .face.face1 
{
    opacity: 1;
    transition: 0.5s;
}

.container .card:hover .face.face1 
{
    opacity: 1;
}

.container .card .face.face1 .info img
{
    max-width: 100px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.container .card .face.face1 .info h3
{
    margin: 10px, 0, 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    
}

.container .card:hover .face.face1 .info h3
{
    margin: 10px, 0, 0;
    padding: 0;
    color: black;
    text-align: center;
    font-size: 1.5em;
    text-shadow: 1px 1px black;
    opacity: .7;
}



.container .card .face.face2
{
    position: relative;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2
{
    transform: translateY(0);
}

.container .card .face.face2 p
{
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
}

.container .card  a
{
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color:  rgb(10, 10, 10);
    padding: 5px;
    border: 1px solid black;
}

.container .card .face.face2 a:hover
{
    background: white;
    color:rgb(185, 97, 236);
}

.scrollable{
    overflow-x: auto;
    scrollbar-color: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
}


.scrollable::-webkit-scrollbar {
    width: 1em;
  }
   
.scrollable::-webkit-scrollbar-track {
    box-shadow:  6px rgba(0, 0, 0, 0.3);
  }
   
.scrollable::-webkit-scrollbar-thumb {
  
    outline: 1px solid  rgba(0, 0, 0, 0.3);
  }


.status{
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
    top: -80px;
    width: 500px;
    left: 100px;
} 

.status .skills{
    position: relative;
    display: flex;
    margin: 20px 0;
    padding: 24px 10px 18px;
    background: #000;
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid rgb(255, 255, 255);
    transition: 0.5s;
}

.status .skills::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: 255, 255, 255, .1;
    z-index: 10;

}

.status .skills .Name{
    position: relative;
    width: 110px;
    text-align: right;
    color: #fff;
    margin-top: -2px;
    text-transform: uppercase;
}


.status .skills .Value{
    position: relative;
    width: 40px;
    text-align: left;
    color: #fff;
    margin-top: -2px;
    
}

.status .skills .percent{
 position: relative;
 width: calc(100% - 150px);
 height: 20px;
 margin: 0 10px;
 border-radius: 10px;
 background: #3f3f3fef;
 box-shadow: inset 0 0 10px #000;
 overflow: hidden;   
}

.status .skills .percent .progress{
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    border-radius: 10px;
    box-shadow: inset 0 0 2px #000;
    animation: animate 3s ease-in-out forwards;
}

@keyframes animate
{
    from
    {
        width: 0;
    }
}

.status .skills:nth-child(2) .percent .progress{
    background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    

}

.status .skills:nth-child(3) .percent .progress{
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}

.status .skills:nth-child(4) .percent .progress{
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}

.status .skills:nth-child(5) .percent .progress{
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}

.status .skills:nth-child(6) .percent .progress{
    background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
}

.status .skills:nth-child(7) .percent .progress{
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    
}

.button{
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    width: 50px;
    height: 50px;
}

i{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: white;
}

.blurred{
    position: relative;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 100%;   
    filter: url(#goo);
}

.blurred::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    border-radius: 100%;
    transition: 1.6s cubic-bezier(0,4,.80,-0.05);

}

.blurred::after{
    content: '';
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    border-radius: 100%;
    transition: 1.7s cubic-bezier(0,.75,.59,1.17);

}

.blurred > span:nth-of-type(1),
.blurred > span:nth-of-type(2) {
    position: absolute;
    width: 56px;
    height: 57px;
    top: 0%;
    left: -3px;
    background-color: black;
    border-radius: 100%;
    transition: 1.4s cubic-bezier(0,1.71,.05,1.7);

}

.button:hover .blurred::before{
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
}


.button:hover .blurred::after{
    width: 20px;
    height: 20px;
    top: 30px;
    left: 45px;
}

.button:hover .blurred > span:nth-of-type(1){
    width: 30px;
    height: 30px;
    top: -10px;
    left: -20px;
}

.button:hover .blurred > span:nth-of-type(2){
    width: 25px;
    height: 25px;
    top: 40px;
    left: -20px;
}

.parallax-wrapper{
    transform-style: preserve-3d;
    width: 100vw;
    height: 100vh;
    padding-top: 10vh;
    box-sizing: border-box;
    top: 0;
}

.parallax-wrapper1{
    transform-style: preserve-3d;
    width: 100vw;
    height: 100vh;
    padding-top: 20vh;
    box-sizing: border-box;

}

.parallax-wrapper::before{
    content:"";
    width: 100vw;
    height: 100vh;
    top: 0;
    left:0;
    position: absolute;
    transform-style: preserve-3d;
    background-image: url("pics/mountains3.png");
    background-image: no-repeat;
    background-position: center; 
    background-size: cover;
    z-index: -1;
    transform: scaleY(1.04) translateZ(-1px) scale(2);

}

.parallax-wrapper1::before{
    content:"";
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    position: absolute;
    transform-style: preserve-3d;
    background-image: url("pics/eyl8dN.png");
    background-image: no-repeat;
    background-position: center; 
    background-size: cover;
    z-index: -1;
    transform:translateZ(-1px) scale(2);

}

.regular-wrapper{
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding-top: 30vh;
    background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
    background-image: no-repeat;
    background-position: center; 
    background-size: cover;
    z-index: 2;
    position: relative;
    
}

.regular-wrapper1{
    width: 100vw;
    height: 100vh;
    padding-top: 30vh;
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    background-image: no-repeat;
    background-position: center; 
    background-size: cover;
    z-index: 2;
    position: relative;
}


.content{
    margin: 0;
    padding: 0;
    width: 100;
    height: 100;
    color: black;

}

.section{ 
    display: flex;
    flex-direction: column;
    scroll-snap-align: center;
}


#navbar{
    overflow: hidden;
}


section#projects{
top: 0;
margin: 0;
padding: 0;
bottom: 0;
position: relative;
display: flex;

transform: translateY(-100px);

}

section#projects h2{
    position: relative;
    left: 10px;
    color: rgba(185, 97, 236, 0.473);
    text-decoration: underline;
    text-shadow: 2px 2px rgb(7, 6, 8);
}

section#skill{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    background: #2e2e2e;
}

section#skill h2{
    position: relative;
    left: -30px;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    text-shadow: 2px 2px rgb(7, 6, 8);
}

section#contact{
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    left: 150px;
  
   
}

section#contact h2{
    color: rgb(235, 148, 91);
    text-decoration: underline;
    text-shadow: 2px 2px rgb(7, 6, 8);
}

section#contact a{
    color:  rgb(235, 148, 91);
    text-shadow: 2px 2px black;
}

section#footer{
    position: relative;
    margin-top: 35px;
    padding-top: 30px;
    top: 25px;
    height: 100%;
}

.footer-nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    font-size: 25px;
    font: bolder;
    text-decoration: underline;
    width: 100%;
    height: 80%;
    text-shadow: 1px 1px rgba(37, 36, 36, 0.801);
    background-color: black;
}

.footer-item{
    color: white;
    text-shadow: 2px 2px black;
}

.footer-item:hover a{
    text-shadow: 2px 2px black;
}